<!-- views/books/edit.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/_head.ejs") %>

  <body>
    <%- include('../partials/_navbar.ejs') %>
    <section class="page-section">
      <div class="page-content">
        <div class="edit-book-form">
          <h1 class="editing-book">Edit: <%= book.title %></h1>

          <form
            action="/users/<%= user._id %>/books/<%= book._id %>?_method=PUT"
            method="POST"
          >
            <section class="edit-boxes">

              <div class="input-box">
                <%# Title %>
                <label for="title">Title:</label>
                <input 
                  class="form-box"
                  type="text" 
                  name="title" 
                  id="title" 
                  value="<%= book.title %>" 
                />
              </div>

              <div class="input-box">
                <%# Author %>
                <label for="authors">Author:</label>
                <input
                  class="form-box" 
                  type="text" 
                  name="authors" 
                  id="authors" 
                  value="<%= book.authors %>" 
                />
              </div>    

              <div class="input-box">
                <%# Status %>
                <label for="status">Status:</label>
                <select id="status" name="status" class="form-box">
                  <option value="Read" <%= book.status === 'Read' ? 'selected' : '' %>>Read</option>
                  <option value="In Progress" <%= book.status === 'In Progress' ? 'selected' : '' %>>In Progress</option>
                  <option value="Did Not Finish" <%= book.status === 'Did Not Finish' ? 'selected' : '' %>>Did Not Finish</option>
                  <option value="To Be Read" <%= book.status === 'To Be Read' ? 'selected' : '' %>>To Be Read</option>
                </select>
              </div>

              <div class="input-box">
                <%# Review %>
                <label for="review">Review:</label>
                <textarea name="review" id="review" class="form-box"><%= book.review %></textarea>
              </div>

              <div class="input-box">
                <%# Rating %>
                <label for="rating">Rating:</label>
                <fieldset class="rating">
                  <% 
                    const ratingValue = (typeof book !== 'undefined' && book.rating) ? book.rating : null;
                    for (let i = 5; i >=1; i--) { 
                  %>
                    <input
                      type="radio"
                      id="star<%= i %>"
                      name="rating"
                      value="<%= i %>"
                      <%= ratingValue === i ? 'checked' : '' %>
                    />
                    <label for="star<%= i %>" title="<%= i %> stars">★</label>
                  <% } %>
                </fieldset>
              </div>

              <div class="input-box">
                <label for="isFavorite">
                <input type="checkbox" id="isFavorite" name="isFavorite" <%= book.isFavorite ? 'checked' : '' %>>
                  Add to favorites?
                </label>
              </div>

            </section>

            <div class="update-btn-div">
              <button type="submit" class="update-btn edit-update">Update bookshelf</button>
            </div>
          </form>

          <a class='back-btn edit-back' href="/users/<%= user._id %>/books">Back</a>
        </div>
      </div>
    </section>
  </body>

  <%- include("../partials/_footer.ejs") %>
</html>
