<!--views/books/index.ejs-->

<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/_head.ejs") %>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Welcome to your bookshelf, <%= user.username %>!</h1>
    <!-- BOOK ADDED FLASH MESSAGE -->
    <% if (typeof message !== 'undefined') { %>
    <p><%= message %></p>
    <% } %>
    <!-- NEW BOOK -->
    <a href="/users/<%= user._id %>/books/new">Add New Book</a>

    <% if (bookshelf && bookshelf.length > 0) { %>
    <ul>
      <% bookshelf.forEach((book) => { %>
      <li>
        Title: <%= book.title %> | Author: <%= book.author %> | Status: <%=
        book.status %>
        <br />
        <!--SHOW BOOK -->
        <form
          action="/users/<%= user._id %>/books/<%= book._id %>"
          method="GET"
        >
          <button type="submit">Book Details</button>
        </form>
        <br />
        <!-- EDIT BOOK -->
        <form
          action="/users/<%= user._id %>/books/<%= book._id %>/edit"
          method="GET"
        >
          <button type="submit">Edit</button>
        </form>
        <br />
        <!-- DELETE BOOK -->
        <form
          action="/users/<%= user._id %>/books/<%= book._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit">Delete</button>
          <br />
        </form>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No books on your bookshelf yet.</p>
    <% } %>
  </body>
</html>
