<!--views/books/index.ejs-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Bookshelf</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Welcome to your bookshelf, <%= user.username %>!</h1>

    <!-- NEW BOOK -->
    <a href="/users/<%= user._id %>/books/new">Add New Book</a>

    <% if (bookshelf && bookshelf.length > 0) { %>
    <ul>
      <% bookshelf.forEach((book) => { %>
      <li>
        Title: <%= book.title %> | Author: <%= book.author %> | Status: <%=
        book.status %>
        <br />
        <!--SHOW BOOK -->
        <a href="/users/<%= user._id %>/books/<%= book._id %>"> </a>
        <br />
        <!-- EDIT BOOK -->
        <a href="/users/<%= user._id %>/books/<%= book._id %>/edit">Edit</a>
        <br />
        <!-- DELETE BOOK -->
        <form
          action="/users/<%= user._id %>/books/<%= book._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit">Delete</button>
          <br />
        </form>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No books on your bookshelf yet.</p>
    <% } %>
  </body>
</html>
