<!-- views/books/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/_head.ejs") %>

  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Book on shelf: <%= book.title %></h1>
    <h2><%= book.title %> by <%= book.author %></h2>

    <% if (book.review) { %>
    <p>
      Review: <%= book.review %> <% if (book.rating) { %> | Rating: <% const
      maxStars = 5; %> <% for (let i = 1; i <= maxStars; i++) { %> <%= i <=
      book.rating ? "★" : "☆" %> <% } %> <% } %>
    </p>
    <% } %>

    <br />

    <!-- EDIT BTN-->
    <form
      action="/users/<%= user._id %>/books/<%= book._id %>/edit"
      method="GET"
    >
      <button type="submit">Edit</button>
    </form>

    <br />

    <!-- DELETE BTN -->
    <form
      action="/users/<%= user._id %>/books/<%= book._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this book from my shelf</button>
    </form>

    <br />

    <!-- BACK BTN -->
    <form action="/users/<%= user._id %>/books" method="GET">
      <button type="submit">Back to Bookshelf</button>
    </form>
  </body>
  <%- include("../partials/_footer.ejs") %>
</html>
