<!-- views/users/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/_head.ejs") %>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to <%= user.username %>'s Bookshelf</h1>
    <br />
    <% if (user.bookshelf && user.bookshelf.length > 0) { %>
    <ul>
      <% user.bookshelf.forEach((book) => { %>
      <li><%= book.title %></li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>There are no books on <%= user.username %>'s shelf!</p>
    <% } %>
    <br />
    <a href="/users/">Back to community</a>
  </body>
</html>
