<!-- views/users/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/_head.ejs") %>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <section class="page-section">
      <div class="page-content">
        <section class="user-bookshelf">
          <h1 class="book-community">
            Welcome to <%= user.username %>'s Bookshelf
          </h1>
          <div class="users book-details">
            <% if (user.bookshelf && user.bookshelf.length > 0) { %>
            <ul class="users-books">
              <% user.bookshelf.forEach((book) => { %>
              <li class="user-book">
                Title: <%= book.title %> | Author: <%= book.author %>
              </li>
              <% }); %>
            </ul>
            <% } else { %>
            <p>There are no books on <%= user.username %>'s shelf!</p>
            <% } %>
          </div>
          <a class="back-btn edit-back" href="/users/">Back to community</a>
        </section>
      </div>
    </section>
  </body>
  <%- include("../partials/_footer.ejs") %>
</html>
